body{

font-family:Arial,sans-serif;

background:#f4f4f4;

margin:0;

padding:0;

}

.container{

width:70%;

margin:auto;

background:white;

padding:20px;

margin-top:30px;

border-radius:10px;

box-shadow:0 0 10px gray;

}

h1{

text-align:center;

color:#0077cc;

}

input{

width:100%;

padding:10px;

margin:10px 0;

}

button{

background:#0077cc;

color:white;

padding:10px 20px;

border:none;

cursor:pointer;

}

button:hover{

background:#005fa3;

}

table{

width:100%;

margin-top:20px;

border-collapse:collapse;

}

table,th,td{

border:1px solid gray;

}

th{

background:#0077cc;

color:white;

padding:10px;

}

td{

padding:10px;

text-align:center;

}